{% extends 'base.html' %}

{% block container %}

    <div class="container">
        <a href="{% url 'useful' %}">
           <div class="frame_1">
                <img src="/img/index/frame_1.svg" alt="">
            </div>
        </a>

        <a href="{% url 'groups' %}">
            <div class="frame_2">
                <img src="/img/index/frame_2.svg" alt="">
            </div>
        </a>

        <a href="{% url 'maps' %}">
            <div class="frame_3">
                <img src="/img/index/frame_3.svg" alt="">
            </div>
        </a>

        <a href="{% url 'schedule' %}">
            <div class="frame_4">
                <img src="/img/index/frame_4.svg" alt="">
            </div>
        </a>

        <a href="{% url 'teachers' %}">
            <div class="frame_5">
                <img src="/img/index/frame_5.svg" alt="">
            </div>
        </a>

        <a href="{% url 'struct' %}">
            <div class="frame_6">
                <img src="/img/index/frame_6.svg" alt="">
            </div>
        </a>

        <a href="{% url 'useful' %}">
            <div class="frame_7">
                <img src="/img/index/frame_7.svg" alt="">
            </div>
        </a>

    </div>

{% endblock %}