{% extends 'base.html' %}

{% block container %}


    <div class="container">
       <div>
           <h2 >Институт информационных технологий</h2>
                <p>Кафедра информационных технологий и вычислительных систем</p>
                <p>Кафедра прикладной математики</p>
                <p>Кафедра информационных систем</p>
                <p>Кафедра управления и информатики в технических системах</p>
                <p>Кафедра информационной безопасности</p>
       </div><div>
        <h2 >Институт информационных технологий</h2>
            <p>Кафедра технологического проектирования</p>
            <p>Кафедра технологического инжиниринга</p>
            <p>Кафедра технологий космического машиностроения</p>
            <p>Кафедра инструментальной техники и технологии формообразования</p>
            <p>Кафедра композиционных материалов</p>
            <p>Кафедра теоретической механики и сопротивления материалов</p>
            <p>Кафедра технологии машиностроения</p>
            <p>Кафедра станков</p>
            <p>Кафедра систем пластического деформирования</p>
            <p>Кафедра высокоэффективных технологий обработки</p>
            <p>Студенческое конструкторское бюро</p>
            <p>Кафедра инженерной графики</p>
            <p>Кафедра гидропневмоавтоматики и гидропривода</p>
    </div><div>
        <h2 >Институт социально-технологического менеджмента</h2>
            <p>Кафедра философии и социального управления</p>
            <p>Кафедра физического воспитания и спорта</p>
            <p>Кафедра экономики и управления предприятием</p>
            <p>Кафедра финансового менеджмента</p>
            <p>Кафедра автоматизированных систем обработки информации и управления</p>
            <p>Кафедра инженерной экологии и безопасности жизнедеятельности</p>
            <p>Кафедра иностранных языков</p>
            <p>Спортивный клуб МГТУ «СТАНКИН»</p>
            <p>Кафедра социологии, политологии и нормативно-правового регулирования промышленного развития</p>
    </div><div>
        <h2 >Институт цифровых интеллектуальных систем</h2>
            <p>Кафедра сенсорных и управляющих систем</p>
            <p>Кафедра промышленной электроники и интеллектуальных цифровых систем</p>
            <p>Кафедра робототехники и мехатроники</p>
            <p>Кафедра физики</p>
            <p>Кафедра компьютерных систем управления</p>
            <p>Кафедра измерительных информационных систем и технологий</p>
    </div>
    </div>
{% endblock %}