<header>
    <a href="{% url 'home' %}">
        <img src="/img/img/logo.svg" alt="FAQ of students">
    </a>
    <ul class="h_ul">
        <a class="h_ul_a" id="groups" href="{% url 'groups' %}"><li class="h_ul_li">Списки групп</li></a>
        <a class="h_ul_a" id="maps" href="{% url 'maps' %}"><li class="h_ul_li">Карта аудиторий</li></a>
        <a class="h_ul_a" id="schedule" href="{% url 'schedule' %}"><li class="h_ul_li">Расписание</li></a>
        <a class="h_ul_a" id="teachers" href="{% url 'teachers' %}"><li class="h_ul_li">Преподаватели</li></a>
        <a class="h_ul_a" id="struct" href="{% url 'struct' %}"><li class="h_ul_li">Структура</li></a>
        <a class="h_ul_a" id="useful" href="{% url 'useful' %}"><li class="h_ul_li">Полезное</li></a>
    </ul>
</header>